@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.WorkoutsSelector {
	width: 100%;
	height: 3.5rem;
	border-radius: 0.5rem;
	border: $borderLight;

	&_input {
		width: 100%;
		height: 3.5rem;
		padding: 0.3rem 0.5rem;
		@include flex_row(flex-start, center);
		font-size: 1.4rem;
	}

	&_wrapper {
		width: 100%;
		height: 100%;
	}
	&_dropdown {
		position: relative;
		width: 100%;
	}
}

.Type {
	padding: 0.3rem 0.7rem;
	border-radius: 5rem;
	font-size: 1.4rem;
	color: #fff;
	background-color: $foreground;
	border: $borderLight;
	outline: none;
	&:hover {
		cursor: pointer;
	}
}

.OptionsDropdown {
	position: absolute;
	display: block;
	top: 1.5rem;
	left: 0;
	width: 100%;
	height: 30rem;
	border-radius: 1rem;
	border: $borderLight;
	background-color: $background;
	box-shadow: 6px 6px 59px -14px rgba(0, 0, 0, 1);

	&_label {
		font-size: 1.2rem;
		color: $text3;
		padding-top: 0.7rem;
		padding-bottom: 0;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	&_types {
		width: 100%;
		height: 5rem;
		padding: 0.5rem 0.7rem;
		padding-top: 0;
		@include flex_row(flex-start, center);
		gap: 0 0.3rem;
		overflow-x: auto;
	}

	&_wrapper {
		width: 100%;
		height: 4.5rem;
		padding: 0.5rem 1rem;

		&_input {
			width: 100%;
			height: 3.5rem;
			background-color: $foreground;
			color: #fff;
			border-radius: 1rem;
			border: $borderLight;
			outline: none;
			padding-left: 0.5rem;
			font-size: 1.6rem;

			&::placeholder {
				font-size: 1.5rem;
			}
		}
	}

	&_list {
		list-style: none;
		width: 100%;
		height: 100%;
		max-height: 18rem;
		padding: 0.5rem 1rem;
		overflow-y: scroll;
		border-top: $borderLight;
	}
}

.WorkoutOption {
	width: 100%;
	height: 4rem;
	@include flex_row(flex-start, center);
	padding: 0.6rem 0.5rem;
	border-radius: 1rem;

	&_selected {
		width: 4rem;
		margin-left: auto;
		&_check {
			width: 1.8rem;
			height: 1.8rem;
			fill: $accentGreen;
			align-self: baseline;
		}
	}

	&_item {
		font-size: 1.4rem;
	}
}
