@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.ActiveWorkoutPage {
	@include fill_container;

	&_top {
		width: 100%;
		padding: 1rem 1rem;
	}

	&_details {
		width: 100%;
		height: auto;
	}
}

.Header {
	width: 100%;
	height: auto;
	padding: 1rem 0;
	@include colCenter();
	font-size: 1.8rem;

	&_duration {
		color: $text3;
		// margin-right: auto;
		padding-left: 2.5rem;
	}
}

.WorkoutNotFound {
	width: 100%;
	@include colCenter();
}
